<div *ngIf="appModeService.appMode$ | async as appMode">
    <label for="appMode">App Mode:</label>
    <select id="appMode" [(ngModel)]="appMode" (ngModelChange)="changeAppMode($event)">
        <option value="PROD">Prod</option>
        <option value="TEST">Test</option>
        <option value="DEMO">Demo</option>
    </select>
</div>
<app-language-select></app-language-select>
<button (click)="helpTextService.update()">Tving oppdatering</button>
<div *ngIf="helpTextService.isUpdating$ | async as isUpdating">
    Oppdaterer hjelpetekster..
</div>
<div *ngIf="helpTextService.data$ | async as helptexts">
    {{ getString(helptexts) }}
</div>