<div *ngIf="appModeService.appMode$ | async as appMode">
    <label for="appMode">App Mode:</label>
    <select id="appMode" [value]="appMode" (change)="changeAppMode($event.target.value)">
        <option value="PROD">Prod</option>
        <option value="TEST">Test</option>
        <option value="DEMO">Demo</option>
    </select>
</div>
<app-language-select></app-language-select>
<button (click)="kdvService.update()">Tving oppdatering</button>
<div *ngIf="kdvService.isUpdating$ | async as isUpdating">
    Oppdaterer kdv elementer..
</div>
<div *ngIf="kdvService.data$ | async as kdvElements">
    {{ getString(kdvElements) }}
</div>