<span *ngIf="appMode$ | async as appMode">
    <label for="appMode">App Mode:</label>
    <select id="appMode" [ngModel]="appMode" (ngModelChange)="changeAppMode($event)">
        <option value="PROD">Prod</option>
        <option value="TEST">Test</option>
        <option value="DEMO">Demo</option>
    </select>
</span>
&nbsp;
<!-- <span *ngIf="settings">
    <label for="autosync">Autosync</label>
    <input id="autosync" type="checkbox" [(ngModel)]="settings.autoSync" (change)="saveSettings()" />
</span> -->
<div *ngIf="syncProgress$ | async as syncProgress">
    <div *ngIf="syncProgress.inProgress">
        Sync in progress: {{syncProgress.percentageCompleteFormatted}} <a href="#"
            (click)="cancelSync($event)">Cancel</a>
    </div>
  </div>
<p>
    <button (click)="addRegistration()">Add registration</button>
</p>
<ul>
    <li *ngFor="let reg of registrations$ | async">
        ID: {{ reg.id }} {{ reg.syncStatus }}
        <div *ngIf="reg.request && reg.request.GeneralObservation">
            {{ reg.request.GeneralObservation.Comment }}
        </div>
        <app-registration-file-upload (fileChanged)="onFileChanged(reg, $event)"></app-registration-file-upload>
        <app-new-attachment-preview [id]="reg.id"></app-new-attachment-preview>
        <a href="#" (click)="syncRegistration($event, reg)">Sync</a>
        <a href="#" (click)="deleteRegistration($event, reg.id)">Slett</a>
        <a href="#" (click)="testSaveRegistration($event, reg)">Test save</a>
    </li>
</ul>